<header class="no-print">
  <div class="header-top">
    <div class="header-left">
      <a href="/" class="site-name">{{ site.title }}</a>
      {% if page.layout == "post" %}
      <a href="/writing/" class="header-back">&larr; All posts</a>
      {% endif %}
    </div>
    <a href="{{ '/atom.xml' | relative_url }}" class="header-subscribe">Subscribe</a>
  </div>
  {% if page.layout != "post" and page.permalink == "/" %}
  <div class="header-bio">
    {{ site.tagline }}
  </div>
  {% endif %}
</header>
